/* *{
 background-color: black;
} */

/* Bootstrap Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Fonts */
/* Space Mono */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Press Start */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* app */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  background-color: #0C0C0C ;
  padding: 30px;

}

nav a {
  font-weight: bold;
  color: beige;


}
.nav-link{
  font-family: "Space Mono", monospace; ;
}

nav a.router-link-exact-active {
color: #2c3e50;
}

/* Landing Section */
#text{
  font-family: "Space Mono", monospace;
}

/* Universal Selector */

/* Custom Variables */
::-webkit-scrollbar{
    display: none;
}
/* Select all images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* Logo */
img[alt='logo'] {
    width: 5rem;
    border-radius: 50%;
    border: solid lavender;

}
img[alt='profile'] {
     width: 30rem;
    border: solid grey;
    border-radius: 50%;
   

}
/* About Image */
img[alt='aboutimg'] {

  border-radius: 50%;
 height: 20% ;
 

}
#about{
  background-color: black !important;
}
.wrapper{
  background-color: black;
}
/* Wrapper */
:is(.wrapper){
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}
/* Section */
section {
  scroll-margin-block: 5rem;

}

/* Footer */
footer{
    background-color: #0C0C0C;
    font-family: "Space Mono", monospace; ;

}
/* About Me */
#about{
  background-color: #D7D9CE;
}
.lead{
  font-family: "Space Mono", monospace;
  color: #0C0C0C;
}
#am{
  color: #2c3e50;
  font-family: "Press Start 2P", system-ui;
}
/* Resume */

.lead{
  color: #2c3e50;
}
#r{
  font-family: "Press Start 2P", system-ui;
}
#edu{
  font-family: "Space Mono", monospace;
}
/* Projects */
#p{
  font-family: "Space Mono", monospace;
  color: silver;
}
/* media Query */
@media screen and (width < 800px) {
  #landing .row {
    display: block;
    height: auto;
  }
}
/* Remove white space */
#about img {
  padding: 0;
}

/* border  animation  */